* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  background-color: #393646;
  color: #f4eee0;
  font-family: "Sono", sans-serif;
  padding: 40px;
}

form {
  background-color: #4f4557;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rubik Doodle Shadow", sans-serif;
}

p {
  text-align: justify;
  line-height: 1.4;
}

a {
  color: rgb(229, 75, 137);
}

span {
  text-transform: uppercase;
  font-family: "Rubik Doodle Shadow", sans-serif;
  padding: 5px;
}

ul {
  list-style: none;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 5px;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identifiers {
  display: flex;
  align-items: center;
  gap: 25px;
}

.submission-form {
  margin-bottom: 20px;
  padding: 16px 40px;
}

.word_counter {
  text-transform: uppercase;
  font-size: 20px;
}

.post {
  background-color: #4f4557;
  margin-bottom: 10px;
  padding: 15px 35px;
}

.source-link {
  margin-bottom: 25px;
}

.fact-categories {
  margin-bottom: 10px;
}
